@model AlbumsModel

<div class="row">
	<div class="three columns">
		<h4 class="borderBot">
			Album Menu
		</h4>
		<p>
			@Html.ActionLink("Create new album", MVC.Account.Albums.Create())
		</p>
	</div>
	<div class="nine columns">
		<h4 class="borderBot">
			All Albums
		</h4>
		<p>
			Album list here.
		</p>
	</div>
</div>