@model HeaderModel

<div class="column three">
	<p class="logo">
		The Kinstner Photo Gallery
	</p>
</div>
<div class="column nine">
	<p class="auth">
		@if ( Model.IsPersonAuthenticated() ) {
			@Html.ActionLink("Logout", MVC.Header.PersonLogout());
		}
		else {
			<text>
				<a href="#" onclick="@Model.GetPersonLoginOpenScript(false)">Login</a>
				(<a href="#" onclick="@Model.GetPersonLoginOpenScript(true)">switch</a>)
			</text>
		}
	</p>
</div>