@model AlbumsModel

<div class="row">
	<div class="large-12 columns">
		@foreach ( WebAlbum a in Model.Albums ) {
			Html.RenderPartial(MVC.Main.Albums.Views._AlbumThumb, a);
		}
	</div>
</div>

@section scripts {
	<script type="text/javascript">
		$(".details").hide();

		$(".album")
			.mouseenter(function() {
				$(this).find(".details").stop().fadeIn(400);
				//$(this).stop().animate({ height: "80px" }, 400);
			})
			.mouseleave(function() {
				$(this).find(".details").stop().fadeOut(400);
				//$(this).stop().animate({ height: "50px" }, 400);
			});
	</script>
}
