@model AlbumsModel

<div class="row">
	<div class="large-12 columns">
		@foreach ( WebAlbum a in Model.Albums ) {
			Html.RenderPartial(MVC.Main.Albums.Views._AlbumThumb, a);
		}
	</div>
</div>

@section scripts {
	<script type="text/javascript">
		if (!isTouch()) {
			$(".details").hide();

			$(".album")
				.mouseenter(function() {
					$(this).find(".details").stop().show();
				})
				.mouseleave(function() {
					$(this).find(".details").stop().fadeOut(200);
				});
		}
	</script>
}
