@model PhotoModel

<div class="row">
	<div class="nine columns">
		<img src="@Model" />
	</div>
</div>

<div class="row">
	<div class="twelve columns">
		@foreach ( IWebPhoto p in Model.Photos ) {
			Html.RenderPartial(MVC.Main.Shared.Views._PhotoThumb, p);
		}
	</div>
</div>