@model IWebPhoto

<div class="thumb photoSmall" data-id="@Model.PhotoId" title="@Model.ImgName - @Model.Created"
		style="background-image: url(@Url.Content("~"+Model.ThumbUrl));">
	<div class="border"></div>
</div>