<div id="TagLayer">
	<div class="spot">
		<div class="spotInner">
		</div>
	</div>
	<div class="inputPanel">
		<input type="text" id="TagSearch" class="tagSearch" placeholder="Enter tag text..." />
		<div class="cancel" id="TagSearchCancel">x</div>
		<div class="resultScroll">
			<table>
				<tbody id="TagSearchRows">
				</tbody>
			</table>
		</div>
	</div>
</div>