<div class="section-container auto" data-section style="min-height: 51px; width: 100%;" >
	
	<section style="padding-top: 50px;" class="active">
		<p style="width: 34%; height: 51px;" class="title" data-section-title="">
			<a href="#panel1">Section 1</a>
		</p>
		<div class="content" data-slug="panel1" data-section-content="">
			<p>
				Section 1 content
			</p>
		</div>
	</section>
	
	<section style="padding-top: 50px;" class="active">
		<p style="width: 33%; height: 51px;" class="title" data-section-title="">
			<a href="#panel2">Section 2</a>
		</p>
		<div class="content" data-slug="panel2" data-section-content="">
			<p>
				Section 2 content
			</p>
		</div>
	</section>
	
	<section style="padding-top: 50px;" class="active">
		<p style="width: 34%; height: 51px;" class="title" data-section-title="">
			<a href="#panel3">Section 3</a>
		</p>
		<div class="content" data-slug="panel3" data-section-content="">
			<p>
				Section 3 content
			</p>
		</div>
	</section>

</div>