<div class="tagLayer">
	<div class="spot">
	</div>
	<div class="inputPanel">
		<input type="text" id="TagSearch" class="tagSearch" placeholder="Enter tag text..." />
		<div class="resultScroll">
			<table>
				<tbody id="TagSearchRows">
				</tbody>
			</table>
		</div>
	</div>
</div>