@model DataPage

<div id="DataPage">
	<div class="dataHold">
		@{ Html.RenderPartial(Model.ContentView, Model); }
	</div>
	
	<div class="paging">
		@{ Html.RenderPartial(MVC.Shared.Views._DataPageNums, Model); }
	</div>

	<div class="wait">
		<span class="fa fa-spinner fa-spin fa-5x"></span>
	</div>
</div>