@model BaseModel
@{
    Layout = "~/Views/Shared/_Base.cshtml";
	ViewBag.Title = Model.HtmlTitle;
}

<div id="HeaderSpacer" class="hide-for-small"></div>

<header id="Header" class="row">
	@{ Html.RenderAction("Data", "Header", new { area="" }); }
</header>

<section id="Page">
	@RenderBody()
</section>
	
<footer id="Footer" class="row">
	<div class="twelve columns">
	</div>
</footer>

@section head {}

@RenderSection("scripts", required: false)

<script type="text/javascript">

	/*var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-39329646-1']);
	_gaq.push(['_trackPageview']);

	(function () {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();*/

</script>