
.row {
	width: 100%;
}


/*----------------------------------------------------------------------------------------------------*/


body {
	background: #f8f8f8;
	margin: 0;
	padding: 0;
	font-family: "Titillium Web", "Tahoma", "Helvetica", sans-serif;
	font-weight: lighter;
	overflow-y: scroll;
}

p, h1, h2, h3, h4, h5, h6, ul, li {
	font-family: "Titillium Web", "Tahoma", "Helvetica", sans-serif;
	font-weight: lighter;
	line-height: 22px;
	margin: 0;
	padding: 0;
}

h4, h5 {
	margin-bottom: 12px;
}

p + p, p + ul, p + table, p + div, p + form, ul + form {
	margin-top: 12px;
}

p + h3, p + h4, p + h5, h5 + h4, ul + h3, ul + h4, div + h3, div + h4 {
	margin-top: 24px;
}

.row + .row {
	margin-top: 24px;
}

.row {
	min-width: 320px;
}

p, label, li {
	font-size: 14px;
	color: #444;
}

h3 {
	font-size: 24px;
	color: #808080;
	margin-bottom: 16px;
}

h3 a {
	color: #808080;
}

h4 {
	font-size: 18px;
	color: #111;
}

h4 a {
	font-size: 18px;
	color: #111;
}

h4.borderBot {
	padding-bottom:4px;
	margin-bottom: 6px;
	border-bottom: 1px solid #bbb;
}

h5 {
	font-size: 16px;
	line-height: 32px;
	color: #370;
}

h5 a {
	color: #555;
}

a {
	color: #590;
}

a:hover {
	color: #370;
}

ul {
	margin-left: 20px;
}


/*----------------------------------------------------------------------------------------------------*/


#Header {
	background-color: #333;
	padding-bottom: 3px;
}

#Header .logo {
	position: relative;
	top: 4px;
	color: #fff;
	font-weight: bold;
}

#Header .auth {
	color: #aaa;
	text-align: right;
}


/*----------------------------------------------------------------------------------------------------*/


#Page {
	margin-top: 15px;
}

#Page .thumb {
	height: 200px;
	width: 200px;
	background-size: cover;
	background-position: 50% 25%;
	float: left;
	margin: 0 0 1px 1px;
	position: relative;
}

#Page .thumb a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#Page .album {
	width: 100%;
	height: 50px;
}

#Page .album .textBox {
	color: #fff;
	background-color: rgba(0, 0, 0, 0.5);
	font-size: 12px;
	padding: 1px 4px 3px 4px;
	margin: 0;
	line-height: 1.0em;
	display: inline-block;
}

#Page .album .title {
	font-size: 24px;
	margin: 4px;
}

#Page .album .details {
	position: absolute;
	margin: 4px;
	bottom: 0;
}

#Page .photoSmall {
	width: 66px;
	height: 66px;
}


/*----------------------------------------------------------------------------------------------------*/


#PhotoViewer {
	background-color: rgba(100, 100, 100, 0.75);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 15px;
	margin: 0;
	display: none;
}

#PhotoViewer .hold {
	background-color: #fff;
	width: 100%;
	height: 100%;
}

#PhotoViewer .photoHold {
	width: 74%;
	height: 100%;
	padding: 5px;
	float:left;
}

#PhotoViewer .detailsHold {
	padding: 5px 5px 5px 0;
	height: 100%;
	float:left;
}

#PhotoViewer .border {
	border-left: 1px solid #ccc;
	padding-left: 5px;
	height: 100%;
}

#PhotoViewer .photo {
	width: 100%;
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#PhotoViewer .button {
	padding: 2px 5px;
}

@media only screen and (max-width: 1024px) {
	#PhotoViewer {
		padding: 0;
		background-color: #000;
	}
	
	#PhotoViewer .hold {
		background-color: #000;
		width: 100%;
		height: 100%;
	}

	#PhotoViewer .photoHold {
		width: 100%;
		padding: 0;
	}
	
	#PhotoViewer .detailsHold {
		position: fixed;
		bottom: 0;
		height: auto;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.2);
	}
	
	#PhotoViewer .detailsHold p {
		color: #fff;
	}
}


/*----------------------------------------------------------------------------------------------------*/


#Page fieldset {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	padding: 10px;
	margin: 0;
	border: transparent;
	background-color: #eee;
}

#Page p + fieldset {
	margin-top: 18px;
}

#Page .checkbox {
	display: inline;
}

#Page .validation-summary-errors {
	color: #c00;
	margin-bottom: 10px;
	background-color: #ecc;
	background-color: rgba(204,100,100,0.25);
	padding: 10px;
	font-weight: bold;
	border: #d88 solid 1px;
}

#Page .validation-summary-errors span {
	display: block;
	margin-bottom: 2px;
}

#Page input.formButton {
	padding: 5px 12px;
	color: #111;
}

#Page select {
	background-color: white;
	font-family: inherit;
	border: 1px solid #cccccc;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	color: rgba(0, 0, 0, 0.75);
	display: block;
	font-size: 14px;
	margin: 0 0 12px 0;
	padding: 6px;
	height: 32px;
	width: 100%;
	-webkit-transition: all 0.15s linear;
	-moz-transition: all 0.15s linear;
	-o-transition: all 0.15s linear;
	transition: all 0.15s linear;
}


/*----------------------------------------------------------------------------------------------------*/


table {
	table-layout: fixed;
	background: transparent;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;
	margin-bottom: 20px;
	border-spacing: 0;
	width: 100%;
	border: 1px solid #d8d8d8;
}

table thead {
	font-weight: bold;
	background-color: #d8d8d8;
	background-color: rgba(0,0,0,0.1);
}

table thead tr th, table tbody tr td {
	padding: 5px 8px 5px 8px;
}

table thead tr th {
	text-align: left;
	vertical-align: middle;
	border-bottom: 1px solid #aaa;
}

table tbody {
	border: 1px solid #e0e0e0;
}

table tbody tr:nth-child(even) {
	background-color: #eee;
	background-color: rgba(0,0,0,0.045);
}

table tbody tr:nth-child(odd) {
	background-color: #fafafa;
	background-color: rgba(255,255,255,0.4);
}

table tbody tr.link {
	-webkit-transition: .2s ease-in-out background-color;
	-moz-transition: .2s ease-in-out background-color;
	-o-transition: .2s ease-in-out background-color;
	transition: .2s ease-in-out background-color;
	cursor: pointer;
}

table tbody tr:nth-child(even).link:hover {
	background-color: #ee8;
	background-color: rgba(236,236,108,0.2);
}

table tbody tr:nth-child(odd).link:hover {
	background-color: #ff9;
	background-color: rgba(255,255,128,0.2);
}

table tbody tr td {
	vertical-align: top;
	vertical-align: middle;
}

table tbody tr td.title {
	font-weight: bold;
}

table tbody tr td.vertTop {
	vertical-align: top;
}
