
html {
	width: 100%;
	height: 100%;
}

body {
	background-color: #f8f8f8;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Droid Serif" , "Georgia" , serif;
	overflow-y: scroll;
	letter-spacing: -0.05em;
}

p, h1, h2, h3, h4, h5, h6, ul, li, input {
	font-family: "Droid Serif" , "Georgia" , serif;
	margin: 0;
	padding: 0;
	letter-spacing: -0.05em;
}

h2 {
	font-size: 30px;
	font-weight: normal;
	color: #000;
}

p, label, li {
	font-size: 14px;
	color: #333;
}

a {
	color: #38c;
}

a:hover {
	color: #16a;
}

ul {
	margin-left: 20px;
}

.row {
	width: 100%;
	max-width: 100%;
	min-width: 320px;
}

@media only screen and (max-width: 767px) {

	.columns {
		padding-left: 10px;
		padding-right: 10px;
	}

}

@media only screen and (max-width: 479px) {

	.hide-for-tiny {
		display: none;
	}

}


/*----------------------------------------------------------------------------------------------------*/


.top-bar {
	background-color: #333;
	margin-bottom: -50px;
	height: 50px;
	position: fixed;
	z-index: 100;
	top: 0;
	width: 100%;
}

.top-bar .title-area {
	height: 50px;
}

.top-bar.expanded .title-area {
	background-color: #333;
	height: 50px;
}

.top-bar .title-area .name {
	margin-left: 16px;
}

.top-bar-section {
	padding-right: 16px;
}

.top-bar-section ul {
	background: none;
}

.top-bar-section li {
	background: none;
	padding: 0;
}

.top-bar-section li a {
	color: #fff;
}

.top-bar-section li a:not(.button) {
	background: none;
	line-height: 50px;
	font-weight: normal;
	font-size: 14px;
	padding: 0 10px;
}

.top-bar-section li a:hover {
	color: #bbb;
}

.top-bar-section .divider {
	display: none;
}

.top-bar-section li .login a {
	background-color: #000;
	padding: 4px 8px;
}

.top-bar .logo a {
	font-size: 18px;
	color: #fff;
	border-left: 5px solid #000;
	padding: 1px 0 0 7px;
	display: inline-block;
	margin: 10px 0;
}

.top-bar .logo a:hover {
	color: #bbb;
}

@media only screen and (max-width: 767px) {

	.top-bar {
		margin: 0;
	}

	.top-bar .title-area .name {
		margin-left: 12px;
	}

	.top-bar-section {
		padding: 0;
	}

	.top-bar-section li {
		background-color: #404040;
		padding: 0 0 0 12px;
	}

	.top-bar-section li a:not(.button) {
		line-height: 36px;
	}

	.top-bar-section .divider {
		border: 0 solid;
		background-color: #333;
		display: inherit;
	}

}


/*----------------------------------------------------------------------------------------------------*/


#Page {
	padding-top: 70px;
}

#Page .separator {
	height: 20px;
}

#Page .rightTextBox {
	border-left: 5px solid #ddd;
	padding: 0 0 5px 7px;
}

#Page .thumb {
	float: left;
	position: relative;
	cursor: pointer;
	width: 200px;
	height: 200px;
	padding: 0 1px 1px 0;
}

#Page .thumb a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#Page .thumb .image {
	width: 100%;
	height: 100%;
	background-color: #ccc;
	background-size: cover;
	background-position: 50% 25%;
}

#Page .thumb.album {
	width: 33.333%;
	height: 240px;
}

#Page .textBox {
	color: #fff;
	background-color: rgba(0, 0, 0, 0.5);
	font-size: 12px;
	padding: 3px 4px;
	margin: 0 0 2px 0;
	line-height: 1.0em;
	display: inline-block;
}

#Page .thumb.album .title {
	position: absolute;
	top: 0;
	font-size: 18px;
	margin: 4px;
	font-style: italic;
}

#Page .thumb.album .details {
	position: absolute;
	margin: 2px 5px;
	bottom: 0;
}

#Page .thumb.allAlbum {
	width: 100%;
	height: 60px;
	padding-right: 0;
}

#Page .thumb.photo .details {
	position: absolute;
	margin: 5px;
	bottom: 0;
}

@media only screen and (max-width: 767px) {

	#Page {
		padding-top: 60px;
	}

	#Page .rightTextBox {
		border-left: 0px solid;
		padding: 0;
	}

	#Page .thumb.album {
		width: 100%;
		height: 160px;
	}

}

@media only screen and (min-width: 1200px) {

	#Page .thumb.album {
		width: 25%;
	}

}


/*----------------------------------------------------------------------------------------------------*/


#Page.landingPage {
	padding: 0;
}

#Page .landingRow {
	background-color: #333;
	margin: 80px 0;
	padding: 80px 40px;
}

#Page .landingSep {
	height: 80px;
}

#Page .landingLogo {
	color: #fff;
	font-size: 72px;
	line-height: 1em;
	width: 250px;
	border-left: 10px solid #000;
	padding: 5px 0 5px 10px;
}

#Page .landingLogo a {
	color: #fff;
}

#Page .landingLogo a:hover {
	color: #bbb;
}

#Page .landingAlbumHold {
	height: 298px;
	padding: 10px 9px 9px 10px;
	background-color: #fff;
}

#Page .landingThumbHold {
	width: 33%;
	height: 33%;
	padding: 0 1px 1px 0;
	float: left;
}

#Page .landingAlbum {
	margin: 0;
	width: 100%;
	height: 100%;
}

#Page .landingFooter {
	text-align: center;
	color: #aaa;
	margin-bottom: 80px;
}

@media only screen and (max-width: 767px) {

	#Page .landingRow {
		margin: 40px 0;
		padding: 30px 10px;
	}

	#Page .landingLogo {
		font-size: 60px;
	}

	#Page .landingSep {
		height: 30px;
	}

	#Page .landingAlbum {
		height: 100px;
	}

	#Page .landingAlbumHold {
		height: inherit;
		clear: left;
	}

}

@media only screen and (max-width: 480px) {

	#Page .landingRow {
		margin: 0 0 30px 0;
	}

	#Page .landingLogo {
		font-size: 48px;
	}

	#Page .landingFooter {
		margin-bottom: 30px;
	}

}


/*----------------------------------------------------------------------------------------------------*/


#PhotoSet .row.header {
	margin-bottom: 20px;
}

#PhotoSet .menu {
	padding-top: 5px;
}

#PhotoSet .menu .item {
	height: 40px;
	font-size: 16px;
	display: inline-block;
	border: 1px solid #d4d4d4;
	background-color: #f2f2f2;
	padding: 11px;
	margin: 0 2px 2px 0;
	vertical-align: top;
}

#PhotoSet .menu .item.title {
	cursor: inherit;
	color: #333;
	font-size: 24px;
	font-style: italic;
	padding-top: 6px;
}

#PhotoSet .menu .item.text {
	color: #888;
}

#PhotoSet .menu .item.btn {
	width: 40px;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
	cursor: pointer;
	color: #666;
	border: 1px solid #aaa;
	background-color: #ccc;
}

#PhotoSet .menu .item.btn.active {
	cursor: pointer;
	color: #fff;
	border: 1px solid transparent;
	background-color: #333;
}

#PhotoSet .infoScreen {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

#PhotoSet .infoScreen .content {
	max-width: 900px;
	width: 90%;
	margin: 0 auto 0 auto;
}

#PhotoSet .infoScreen .content .metaCell {
	padding-top: 40px;
}

#PhotoSet .infoScreen .content .metaCell .avg {
	font-size: 72px;
}

#PhotoSet .infoScreen .content .metaCell .name {
	font-size: 16px;
	color: #666;
	margin-bottom: 10px;
}

#PhotoSet .infoScreen .content .metaCell .histBar {
	float: left;
	height: 16px;
	border-bottom: 2px solid #333;
}

@media only screen and (max-width: 767px) {

	#PhotoSet .row.header {
		margin-bottom: 10px;
	}
	
	#PhotoSet .menu .item {
		height: 36px;
		font-size: 14px;
		padding: 10px;
	}
	
	#PhotoSet .menu .item.btn {
		width: 36px;
	}
	
	#PhotoSet .menu .item.title {
		font-size: 18px;
		padding-top: 8px;
	}
	
	#PhotoSet .infoScreen .content {
		width: 100%;
	}
	
	#PhotoSet .infoScreen .content .metaCell {
		padding: 20px 36px 0 36px;
	}
	
	#PhotoSet .infoScreen .content .metaCell .avg {
		font-size: 48px;
	}

	#PhotoSet .infoScreen .content .metaCell .name {
		font-size: 14px;
	}

}


/*----------------------------------------------------------------------------------------------------*/


#PhotoLayer {
	background-color: #000;
	position: fixed;
	width: 100%;
	height: 100%;
	display: none;
}

#PhotoLayerPadding {
	/* allows you to scroll on iOS to remove the address bar */
	position: absolute;
	height: 100%;
	width: 10px;
	top: 0px;
	margin-top: 69px;
}

#PhotoLayer .photo {
}

#PhotoLayer .bar {
	float: left;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 50px;
	padding: 5px;
}

#PhotoLayer .bar .details {
	float: left;
	height: 40px;
	background-color: transparent;
	background-color: rgba(0, 0, 0, 0.4);
	padding: 5px 10px;
	color: #fff;
	font-size: 12px;
	line-height: 1.3em;
	cursor: pointer;
}

#PhotoLayer .bar .buttons {
	float: right;
}

#PhotoLayer .bar .buttons a {
	margin-left: 5px;
	display: block;
	float: left;
	width: 40px;
	height: 40px;
	background-color: rgba(0, 0, 0, 0.4);
}

#PhotoLayer .bar .buttons .tagModeBtn {
	background-image: url(/Content/gallery/tag.png);
}

#PhotoLayer .bar .buttons .prevBtn {
	background-image: url(/Content/gallery/arrow-left.png);
}

#PhotoLayer .bar .buttons .nextBtn {
	background-image: url(/Content/gallery/arrow-right.png);
}

#PhotoLayer .bar .buttons .closeBtn {
	background-image: url(/Content/gallery/close.png);
}

#PhotoLayer .tagsPanel {
	float: left;
	position: fixed;
	bottom: 50px;
	width: 25%;
	padding: 5px 5px 1px 5px;
}

#PhotoLayer .tagsPanel .tag {
	display: inline-block; 
	font-size: 11px;
	color: #ccc;
	color: rgba(255, 255, 255, 0.8);
	background-color: rgba(0, 0, 0, 0.4);
	margin: 0 4px 4px 0;
	padding: 4px;
}
	
#PhotoLayer .tagsPanel .tag:hover {
	color: #fff;
	background-color: rgba(0, 0, 0, 0.8);
}

@media only screen and (max-width: 480px) {

	#PhotoLayer .tagsPanel {
		width: 100%;
	}

}


/*----------------------------------------------------------------------------------------------------*/


#TaggingLayer {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	background-color: transparent;
	background-color: rgba(0, 0, 0, 0.0); /*IE fix*/
}

#TaggingLayer .clicker {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
}

#TaggingLayer .spot {
	position: absolute;
	width: 60px;
	height: 60px;
	margin-left: -30px;
	margin-top: -30px;
	border: 4px solid #fff;
}

#TaggingLayer .spotInner {
	width: 100%;
	height: 100%;
	border: 4px solid #000;
}

#TaggingLayer .closeBtn {
	background-color: rgba(0, 0, 0, 0.75);
	right: 0;
	bottom: 0;
	text-align: right;
	padding: 8px;
	position: absolute;
	display: block;
}

#TaggingLayer .liveSearch {
	position: absolute;
	width: 300px;
	height: 300px;
	margin-left: -150px;
	top: 100px;
	color: #fff;
}

#TaggingLayer .liveSearch .topBar input {
	background-color: #000;
	background-color: rgba(0,0,0,0.95);
	color: #fff;
	font-size: 14px;
	height: 34px;
	box-shadow: 0px 0px 0px 0px;
	margin: 0;
}

#TaggingLayer .liveSearch .topBar .loading {
	width: 100%;
	height: 25px;
	margin-top: -25px;
	background-image: url(/Content/gallery/wait-small.gif);
	background-repeat: no-repeat;
	background-position: 250px 0px;
}

#TaggingLayer .liveSearch .topBar .close {
	width: 20px;
	height: 20px;
	background-image: url(/Content/gallery/tag-search-close.png);
	position: absolute;
	top: 7px;
	right: 7px;
	cursor: pointer;
}

#TaggingLayer .liveSearch .topBar .cancel:hover {
	color: #fff;
	background-color: #833;
}

#TaggingLayer .liveSearch .scroller {
	height: 265px;
	overflow-y: auto;
}

#TaggingLayer .liveSearch table {
	border: 0 solid;
	font-size: 100%;
	margin: 0;
}

#TaggingLayer .liveSearch table tr:nth-child(even) {
	background-color: #222;
	background-color: rgba(0, 0, 0, 0.75);
}

#TaggingLayer .liveSearch table tr:nth-child(odd) {
	background-color: #444;
	background-color: rgba(0, 0, 0, 0.65);
}

#TaggingLayer .liveSearch table tr.active {
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.9);
}

#TaggingLayer .liveSearch table tr {
	cursor: pointer;
}

#TaggingLayer .liveSearch table td {
	color: #fff;
	font-size: 14px;
	padding: 6px;
}

#TaggingLayer .liveSearch table td.highlight {
	color: #38c;
	padding: 5px;
	border: 1px solid #38c;
}

#TaggingLayer .liveSearch table td.noResults {
	font-style: italic;
}

#TaggingLayer .liveSearch table td .disamb {
	font-size: 12px;
	color: #999;
	color: rgba(255, 255, 255, 0.5);
}


/*----------------------------------------------------------------------------------------------------*/


#Tags {
	max-height: 205px;
	overflow: auto;
}

#Tags .tag {
	display: inline-block; 
	font-size: 11px;
	color: #666;
	color: rgba(0, 0, 0, 0.75);
	border: 1px solid rgba(0, 0, 0, 0.2);
	background-color: transparent;
	margin: 0 4px 4px 0;
	padding: 4px;
	cursor: pointer;
}
	
#Tags .tag:hover {
	background-color: #38c;
	color: #fff;
}
	
#Tags .tagActive {
	background-color: #666;
	color: #fff;
}
	
#Tags .tagActive:hover {
	background-color: #555;
}

#Tags .tag .number {
	font-size: 10px;
	margin-right: 3px;
	color: #fff;
	color: rgba(255, 255, 255, 0.75);
	padding: 2px 3px;
	min-width: 14px;
	text-align: center;
	display: inline-block;
}


/*----------------------------------------------------------------------------------------------------*/


#Page fieldset {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	padding: 10px;
	margin: 0;
	border: transparent;
	background-color: #eee;
}

#Page p + fieldset {
	margin-top: 18px;
}

#Page .checkbox {
	display: inline;
}

#Page .validation-summary-errors {
	color: #c00;
	margin-bottom: 10px;
	background-color: #ecc;
	background-color: rgba(204,100,100,0.25);
	padding: 10px;
	font-weight: bold;
	border: #d88 solid 1px;
}

#Page .validation-summary-errors span {
	display: block;
	margin-bottom: 2px;
}

#Page input.formButton {
	padding: 5px 12px;
	color: #111;
}

#Page select {
	background-color: white;
	font-family: inherit;
	border: 1px solid #cccccc;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	color: rgba(0, 0, 0, 0.75);
	display: block;
	font-size: 14px;
	margin: 0 0 12px 0;
	padding: 6px;
	height: 32px;
	width: 100%;
	-webkit-transition: all 0.15s linear;
	-moz-transition: all 0.15s linear;
	-o-transition: all 0.15s linear;
	transition: all 0.15s linear;
}


/*----------------------------------------------------------------------------------------------------*/


#Footer p {
	text-align: center;
	color: #aaa;
	padding-top: 20px;
	margin: 20px 0 60px 0;
	border-top: 1px #ddd solid;
}


/*----------------------------------------------------------------------------------------------------*/


table {
	table-layout: fixed;
	background: transparent;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;
	margin-bottom: 20px;
	border-spacing: 0;
	width: 100%;
	border: 1px solid #d8d8d8;
}

table thead {
	font-weight: bold;
	background-color: #d8d8d8;
}

table thead tr th, table tbody tr td {
	padding: 4px;
}

table thead tr th {
	text-align: left;
	vertical-align: middle;
	border-bottom: 1px solid #aaa;
}

table tbody {
	border: 1px solid #e0e0e0;
}

table tbody tr:nth-child(even) {
	background-color: #eee;
	background-color: rgba(0,0,0,0.04);
}

table tbody tr:nth-child(odd) {
	background-color: #fafafa;
	background-color: rgba(255,255,255,0.4);
}

table tbody tr.link {
	-webkit-transition: .2s ease-in-out background-color;
	-moz-transition: .2s ease-in-out background-color;
	-o-transition: .2s ease-in-out background-color;
	transition: .2s ease-in-out background-color;
	cursor: pointer;
}

table tbody tr:nth-child(even).link:hover {
	background-color: #ee8;
	background-color: rgba(236,236,108,0.2);
}

table tbody tr:nth-child(odd).link:hover {
	background-color: #ff9;
	background-color: rgba(255,255,128,0.2);
}

table tbody tr td {
	vertical-align: top;
	vertical-align: middle;
}

table tbody tr td.title {
	font-weight: bold;
}

table tbody tr td.vertTop {
	vertical-align: top;
}

@media only screen and (max-width: 767px) {

	table {
		font-size: 90%;
	}

}


/*----------------------------------------------------------------------------------------------------*/


#DataPage {
	position: relative;
}

#DataPage .dataHold {
}

#DataPage .paging ul.pagination li a {
	color: #666;
}

#DataPage .paging ul.pagination li.current a {
	background-color: #bbb;
	color: #fff;
}

#DataPage .wait {
	width: 100%;
	height: 100%;
	background-image: url(/Content/gallery/wait.gif);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}


/*----------------------------------------------------------------------------------------------------*/


.miniHistBar rect {
	fill: #38c;
	
}
	
.miniHistXAxis path {
	stroke: #333;
}

