
html {
	width: 100%;
	height: 100%;
}

body {
	background-color: #f8f8f8;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Droid Serif" , "Georgia" , serif;
	overflow-y: scroll;
	letter-spacing: -0.05em;
}

p, h1, h2, h3, h4, h5, h6, ul, li {
	font-family: "Droid Serif" , "Georgia" , serif;
	margin: 0;
	padding: 0;
	letter-spacing: -0.05em;
}

h2 {
	font-size: 30px;
	font-weight: normal;
	color: #000;
}

p, label, li {
	font-size: 14px;
	color: #333;
}

a {
	color: #38c;
}

a:hover {
	color: #16a;
}

ul {
	margin-left: 20px;
}

.row {
	width: 100%;
	max-width: 100%;
	min-width: 320px;
}

@media only screen and (max-width: 767px) {

	.columns {
		padding-left: 10px;
		padding-right: 10px;
	}
	
}


/*----------------------------------------------------------------------------------------------------*/


.top-bar {
	background-color: #333;
	margin-bottom: -50px;
	height: 50px;
	position: fixed;
	z-index: 100;
	top: 0;
	width: 100%;
}

.top-bar .title-area {
	height: 50px;
}

.top-bar.expanded .title-area {
	background-color: #333;
	height: 50px;
}

.top-bar .title-area .name {
	margin-left: 16px;
}

.top-bar-section {
	padding-right: 16px;
}

.top-bar-section ul {
	background: none;
}

.top-bar-section li {
	background: none;
	padding: 0;
}

.top-bar-section li a {
	color: #fff;
}

.top-bar-section li a:not(.button) {
	background: none;
	line-height: 50px;
	font-weight: normal;
	font-size: 14px;
	padding: 0 10px;
}

.top-bar-section li a:hover {
	color: #bbb;
}

.top-bar-section .divider {
	display: none;
}

.top-bar-section li .login a {
	background-color: #000;
	padding: 4px 8px;
}

.top-bar .logo a {
	font-size: 18px;
	color: #fff;
	border-left: 5px solid #000;
	padding: 1px 0 0 7px;
	display: inline-block;
	margin: 10px 0;
}

.top-bar .logo a:hover {
	color: #bbb;
}

@media only screen and (max-width: 767px) {

	.top-bar {
		margin: 0;
	}

	.top-bar .title-area .name {
		margin-left: 12px;
	}

	.top-bar-section {
		padding: 0;
	}

	.top-bar-section li {
		background-color: #404040;
		padding: 0 0 0 12px;
	}

	.top-bar-section li a:not(.button) {
		line-height: 36px;
	}

	.top-bar-section .divider {
		border: 0 solid;
		background-color: #333;
		display: inherit;
	}

}


/*----------------------------------------------------------------------------------------------------*/


#Page {
	padding-top: 70px;
}

#Page .separator {
	height: 20px;
}

#Page .rightTextBox {
	border-left: 5px solid #ddd;
	padding: 0 0 5px 7px;
}

#Page .thumb {
	height: 200px;
	width: 200px;
	background-color: #ccc;
	background-size: cover;
	background-position: 50% 25%;
	float: left;
	margin: 0 0 1px 1px;
	position: relative;
	cursor: pointer;
}

#Page .thumb a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#Page .thumb .border {
	width: 100%;
	height: 100%;
	border: 3px solid #000;
	display: none;
}

#Page .album {
	width: 33.1%;
	height: 240px;
}

#Page .album .textBox {
	color: #fff;
	background-color: rgba(0, 0, 0, 0.5);
	font-size: 12px;
	padding: 3px 4px;
	margin: 0 0 2px 0;
	line-height: 1.0em;
	display: inline-block;
}

#Page .album .title {
	font-size: 18px;
	margin: 4px;
	font-style: italic;
}

#Page .album .details {
	position: absolute;
	margin: 2px 5px;
	bottom: 0;
}

#Page .photoSmall {
	width: 66px;
	height: 66px;
}

@media only screen and (max-width: 767px) {

	#Page {
		padding-top: 60px;
	}

	#Page .rightTextBox {
		border-left: 0px solid;
		padding: 0;
	}

	#Page .album {
		width: 100%;
		height: 160px;
	}

}

@media only screen and (min-width: 1200px) {

	#Page .album {
		width: 24.8%;
	}

}


/*----------------------------------------------------------------------------------------------------*/


#Page.landingPage {
	padding: 0;
}

#Page .landingRow {
	background-color: #333;
	margin: 80px 0;
	padding: 80px 40px;
}

#Page .landingSep {
	height: 80px;
}

#Page .landingLogo {
	color: #fff;
	font-size: 72px;
	line-height: 1em;
	width: 250px;
	border-left: 10px solid #000;
	padding: 5px 0 5px 10px;
}

#Page .landingLogo a {
	color: #fff;
}

#Page .landingLogo a:hover {
	color: #bbb;
}

#Page .landingAlbumHold {
	height: 298px;
	padding: 10px 9px 9px 10px;
	background-color: #fff;
}

#Page .landingThumbHold {
	width: 33%;
	height: 33%;
	padding: 0 1px 1px 0;
	float: left;
}

#Page .landingAlbum {
	margin: 0;
	width: 100%;
	height: 100%;
}

#Page .landingFooter {
	text-align: center;
	color: #aaa;
	margin-bottom: 80px;
}

@media only screen and (max-width: 767px) {

	#Page .landingRow {
		margin: 40px 0;
		padding: 30px 10px;
	}

	#Page .landingLogo {
		font-size: 60px;
	}

	#Page .landingSep {
		height: 30px;
	}

	#Page .landingAlbum {
		height: 100px;
	}

	#Page .landingAlbumHold {
		height: inherit;
		clear: left;
	}

}

@media only screen and (max-width: 480px) {

	#Page .landingRow {
		margin: 0 0 30px 0;
	}

	#Page .landingLogo {
		font-size: 48px;
	}

	#Page .landingFooter {
		margin-bottom: 30px;
	}

}


/*----------------------------------------------------------------------------------------------------*/


#PhotoViewer {
	background-color: #000;
	position: fixed;
	width: 100%;
	height: 100%;
	display: none;
}

#PhotoViewerPadding { /* allows you to scroll on iOS to remove the address bar */
	position: absolute;
	height: 100%;
	width: 10px;
	top: 0px;
	margin-top: 69px;
}

#PhotoViewer .photo {
	width: 100%;
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#PhotoViewer .bottomBar {
	float: left;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 50px;
	background-color: rgba(0, 0, 0, 0.2);
}

#PhotoViewer .bottomBar p {
	color: #fff;
	float: left;
	padding: 10px;
	line-height: 1.3em;
	font-size: 12px;
}

#PhotoViewer .buttons {
	float: right;
	padding: 5px;
}

#PhotoViewer .buttons a {
	margin-left: 5px;
	display: block;
	float: left;
	width: 40px;
	height: 40px;
}

@media only screen and (max-width: 1024px) {

	#PhotoViewer {
		background-color: #000;
	}

	#PhotoViewer .button {
		width: inherit;
	}
}


/*----------------------------------------------------------------------------------------------------*/


#Page fieldset {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	padding: 10px;
	margin: 0;
	border: transparent;
	background-color: #eee;
}

#Page p + fieldset {
	margin-top: 18px;
}

#Page .checkbox {
	display: inline;
}

#Page .validation-summary-errors {
	color: #c00;
	margin-bottom: 10px;
	background-color: #ecc;
	background-color: rgba(204,100,100,0.25);
	padding: 10px;
	font-weight: bold;
	border: #d88 solid 1px;
}

#Page .validation-summary-errors span {
	display: block;
	margin-bottom: 2px;
}

#Page input.formButton {
	padding: 5px 12px;
	color: #111;
}

#Page select {
	background-color: white;
	font-family: inherit;
	border: 1px solid #cccccc;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	color: rgba(0, 0, 0, 0.75);
	display: block;
	font-size: 14px;
	margin: 0 0 12px 0;
	padding: 6px;
	height: 32px;
	width: 100%;
	-webkit-transition: all 0.15s linear;
	-moz-transition: all 0.15s linear;
	-o-transition: all 0.15s linear;
	transition: all 0.15s linear;
}


/*----------------------------------------------------------------------------------------------------*/


#Footer p {
	text-align: center;
	color: #aaa;
	padding-top: 20px;
	margin: 20px 0 60px 0;
	border-top: 1px #ddd solid;
}


/*----------------------------------------------------------------------------------------------------*/


table {
	table-layout: fixed;
	background: transparent;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;
	margin-bottom: 20px;
	border-spacing: 0;
	width: 100%;
	border: 1px solid #d8d8d8;
}

table thead {
	font-weight: bold;
	background-color: #d8d8d8;
	background-color: rgba(0,0,0,0.1);
}

table thead tr th, table tbody tr td {
	padding: 5px 8px 5px 8px;
}

table thead tr th {
	text-align: left;
	vertical-align: middle;
	border-bottom: 1px solid #aaa;
}

table tbody {
	border: 1px solid #e0e0e0;
}

table tbody tr:nth-child(even) {
	background-color: #eee;
	background-color: rgba(0,0,0,0.045);
}

table tbody tr:nth-child(odd) {
	background-color: #fafafa;
	background-color: rgba(255,255,255,0.4);
}

table tbody tr.link {
	-webkit-transition: .2s ease-in-out background-color;
	-moz-transition: .2s ease-in-out background-color;
	-o-transition: .2s ease-in-out background-color;
	transition: .2s ease-in-out background-color;
	cursor: pointer;
}

table tbody tr:nth-child(even).link:hover {
	background-color: #ee8;
	background-color: rgba(236,236,108,0.2);
}

table tbody tr:nth-child(odd).link:hover {
	background-color: #ff9;
	background-color: rgba(255,255,128,0.2);
}

table tbody tr td {
	vertical-align: top;
	vertical-align: middle;
}

table tbody tr td.title {
	font-weight: bold;
}

table tbody tr td.vertTop {
	vertical-align: top;
}
