@model AlbumModel
@{
	WebAlbum a = Model.Album;
}

<div class="row">
	<div class="twelve columns">
		<h4 class="borderBot">
			@a.Title
		</h4>
		<p>
			by <strong>@a.UserName</strong> /
			@a.DateRangeString /
			@a.NumPhotos photo@(a.NumPhotos==1?"":"s")
		</p>
	</div>
</div>

<div class="row">
	<div class="twelve columns">
		@foreach ( IWebPhoto p in Model.Photos ) {
			Html.RenderPartial(MVC.Main.Home.Views._PhotoThumb, p);
		}
	</div>
</div>

@{ Html.RenderPartial(MVC.Main.Home.Views._PhotoViewer, Model.Photos); }