@model HomeModel
@{
    Layout = "~/Views/Shared/_Base.cshtml";
	ViewBag.Title = Model.HtmlTitle;
}
@section head {
	<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700italic,400italic,700'
	      rel='stylesheet' type='text/css'>
}

<section id="Page">
	<div class="row landingRow">
		
		<div class="six columns">
			<p class="landingLogo">
				The Kinstner Photo Gallery
			</p>
		</div>

		<div class="show-for-small landingSep"></div>
		
		<div class="six columns">
			<div class="landingAlbumHold">
				@foreach ( WebAlbum a in Model.Albums ) {
					<div class="landingThumbHold">
					   <div class="thumb landingAlbum" title="@a.Title" style="background-image: 
								url(@Url.Content("~"+a.FirstPhoto.ImageUrl));">
							@Html.ActionLink(" ", MVC.Main.Home.Albums(a.AlbumId))
						</div>
					</div>
				}
				
				<div style="clear:left;"></div>
			</div>
		</div>

	</div>
	
	<div class="row">
		<div class="twelve columns">
			<p class="landingFooter">
				The Kinstner Photo Gallery is powered by 
				<a href="http://www.inTheFabric.com">Fabric</a>.
			</p>
		</div>
	</div>
</section>