@model HomeModel
<div class="row">
	<div class="nine columns">
		<h4>
			Photo Gallery
		</h4>
		<p>
			Album List:
			
			<ul>
				@foreach ( string name in Model.AlbumNames ) {
					<li>@name</li>
				}
			</ul>
		</p>
	</div>
	<div class="three columns">
		<div class="hide-for-small calloutBox">
			<h4>
				Right column
			</h4>
		</div>
	</div>
</div>
