@model HomeModel
@{
    Layout = "~/Views/Shared/_Base.cshtml";
	ViewBag.Title = Model.HtmlTitle;
}
@section head {
	<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700italic,400italic,700'
	      rel='stylesheet' type='text/css'>
}

<section id="Page" class="landingPage">
	<div class="row landingRow">
		
		<div class="large-6 columns">
			<p class="landingLogo">
				@Html.ActionLink("The Kinstner Photo Gallery", MVC.Main.Albums.Index())
			</p>
		</div>

		<div class="show-for-small columns landingSep"></div>
		
		<div class="large-6 columns">
			<div class="landingAlbumHold">
				@foreach ( WebAlbum a in Model.Albums ) {
					string url = Url.Content("~"+a.FirstPhoto.ImageUrl);
					
					<div class="landingThumbHold">
					   <div class="thumb landingAlbum" title="@a.Title">
							<div class="image" style="background-image: url(@url);">
								@Html.ActionLink(" ", MVC.Main.Albums.Photos(a.AlbumId))
							</div>
						</div>
					</div>
				}
				
				<div style="clear:left;"></div>
			</div>
		</div>

	</div>
	
	<div class="row">
		<div class="large-12 columns">
			<p class="landingFooter">
				This site is powered by <a href="http://www.inTheFabric.com">Fabric</a>.
			</p>
		</div>
	</div>
</section>